html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
html{
    background-color: white;
}
body {
    min-width: 950px;
    line-height: 1;
    background: url(../img/background.jpg) no-repeat top center;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: "Open Sans";
    src: url("../file/OpenSans-Regular.ttf");
}
body{
    font-family: "Open Sans", SansSerif, serif;
}
.clear{
    clear: both;
}

/* HEADER */

header{
    border-bottom: 4px solid #65A395;
    background-color: #8bbdb2;
    height: 84px;
    color: white;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    background-color: #465674;
    transition-duration:0.15s;
    height: 84px !important;
    border-bottom: 4px solid #354054;
}

header .left{
    float: left;
    width: 500px;
    height: 85px;
    line-height: 85px;
    font-size: 35px;
}
header .left h1{
    margin: 0;
}
header .left img{
    float: left;
    max-height: 70px;
    position: relative;
    top: 5px;
    padding: 0 15px 0 15px;
}

header .middle{
    float: left;
    height: 80px;
    line-height: 80px;
}
header .middle nav a{
    width: 99px;
    display: inline-block;
    height: 80px;
    text-align: center;
}
header .middle nav a i{
    display: block;
    width: 100px;
    height: 45px;
    font-size: 25px;
    line-height: 45px;
}
header .middle nav a span{
    display: block;
    width: 100px;
    height: 28px;
    font-size: 20px;
    line-height: 28px;
}

header .right{
    float: right;
}
header .right a{
    float: right;
    min-width: 140px;
    max-width: 160px;
    display: inline-block;
    height: 80px;
    text-align: center;
    padding: 0 5px;
}
header .right a i{
    display: block;
    width: 140px;
    height: 45px;
    font-size: 25px;
    line-height: 45px;
}
header .right a span{
    display: block;
    width: 140px;
    height: 28px;
    font-size: 20px;
    line-height: 28px;
}

/* FOOTER */

footer{
    border-top: 4px solid #8bbdb2;
    background-color: #465674;
}

footer .block{
    padding: 5px;
    color: white;
    display: inline-block;
}

footer .about{
    line-height: 35px;
}

footer .info{
    float: right;
}

footer .info a{
    font-size: 35px;
    color: white;
    margin-left: 5px;
}

/* CORPS */

#main{
    min-height: 300px;
    width: 900px;
    margin: 25px auto auto;
}

#main .title-index{
    width: 550px;
    background-color: #f06060;
    border-bottom: 4px solid #C24C4C;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin: auto;
}

#main .hexagon-block{
    padding: 30px 0;
    width: 650px;
    margin: auto;
}

#main .start a{
    width: 175px;
    font-size: 22px;
    color: white;
    background-color: #f06060;
    border-bottom: 3px solid #C24C4C;
    text-align: center;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
    margin: 25px auto 0 auto;
}

#main .start a:hover{
    background-color: #D44A4A;
    border-bottom: 3px solid #B13D3D;
    transition-duration:0.15s;
}

#main .page{
    background-color: white;
    margin: auto;
    padding:30px;
    font-family: Calibri, serif;
}

#main .standalone-main{
    padding-bottom: 25px;
}

#main h1.standalone-title{
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 35px;
    margin: 0 auto 25px auto;
    text-align: center;
}

/* ACCUEIL */

.hex {
    width:150px;
    height:86px;
    background: #ccc no-repeat 50% 50%;
    background-size: auto 173px;
    position: relative;
    float:left;
    margin:27px 5px;
    text-align:center;
    zoom:1;
}

.hex.hex-gap {
    margin-left: 86px;
}

.hex a {
    display:block;
    width: 100%;
    height:100%;
    text-indent:-9999em;
    position:absolute;
    top:0;
    left:0;
}

.hex .corner-1,
.hex .corner-2 {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: inherit;
    overflow:hidden;
    backface-visibility: hidden;
}

.hex .corner-1 {
    transform: rotate(60deg);
}

.hex .corner-2 {
    transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
    width: 173px;
    height: 173px;
    content: '';
    position: absolute;
    background: inherit;
    top:0;
    left: 0;
    background-repeat:no-repeat;
    backface-visibility: hidden;
}

.hex .corner-1:before {
    transform: rotate(-60deg) translate(-87px, 0px);
    transform-origin: 0 0;
}

.hex .corner-2:before {
    transform: rotate(60deg) translate(-48px, -11px);
    bottom:0;
}

.hex .inner {
    color:#eee;
    position: absolute;
    width: 150px;
}

.hex.hex-1 {
    background: #8bbdb2;
}

.hex.hex-2 {
    background: #f06060;
}

.hex.hex-2 .inner .fa,
.hex.hex-4 .inner .fa,
.hex.hex-7 .inner .fa{
    font-size: 80px;
    line-height: 86px;
    height: 86px;
}

.hex.hex-3 {
    background: #6E5D63;
}

.hex.hex-4 {
    background: #354054;
}

.hex.hex-5 {
    background: #f3b562;
}

.hex.hex-6{
    background-color: #bfbfbf;
}

.hex.hex-7{
    background-color: #baddf0;
}

.hex.hex-1 .inner,
.hex.hex-3 .inner,
.hex.hex-5 .inner,
.hex.hex-6 .inner{
    padding: 0 10px;
}

.hex.hex-1 .inner h3,
.hex.hex-3 .inner h3,
.hex.hex-5 .inner h3,
.hex.hex-6 .inner h3{
    font-size: 22px;
    padding: 0 0 6px 0;
    margin: 0 0 10px 0;
    display: inline-block;
    border-bottom: 2px solid white;
}

/* ############# ENIGME */

.page .enigme .img{
    display: block;
    margin: auto;
}

.page .answer {
    width: 450px;
    margin: 10px auto auto auto;
}

.page .answer input[type="text"]{
    width: 250px;
    border: 1px solid rgb(150,150,150);
    padding: 8px;
}

.page .answer input[type="submit"] {
    width: 175px;
    font-size: 22px;
    color: white;
    background-color: #f06060;
    border-bottom: 3px solid #C24C4C;
    text-align: center;
    padding: 6px;
    cursor: pointer;
}

.page .answer input[type="submit"]:hover {
    background-color: #D44A4A;
    border-bottom: 3px solid #B13D3D;
    transition-duration:0.15s;
}

.standalone-form{
    width: 350px;
    margin: auto;
    padding: 25px 0 8px 0;
    background-color: #354054;
    border-bottom: 5px solid #74A79C;
}

.standalone-form .line{
    width: 300px;
    margin: 0 auto 15px auto;
}

.standalone-form .line i.fa{
    float: left;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: #8bbdb2;
}

.standalone-form .line input[type="email"],
.standalone-form .line input[type="password"],
.standalone-form .line input[type="text"],
.standalone-form .line select{
    box-sizing: border-box!important;
    border: none!important;
    width: 250px!important;
    height: 50px!important;
    padding: 0 15px!important;
    outline: none!important;
    line-height: 50px!important;
}

.standalone-form .line select{
    font-size: 17px!important;
    color: #A9A9A9!important;
}

.standalone-form .line input[type="date"]{
    box-sizing: border-box!important;
    border: none!important;
    width: 250px!important;
    padding: 13px 15px!important;
    outline: none!important;
}

.standalone-form .line a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.standalone-form .line input[type="submit"]{
    background-color: #8bbdb2!important;
    border-bottom: 3px solid #669C90!important;
    width: 100%!important;
    height: 50px!important;
    color: white!important;
    line-height: 50px!important;
    font-size: 20px!important;
    cursor: pointer!important;
    outline: none!important;
    transition-duration:0.15s!important;
    box-shadow: none!important;
    border-radius: 0!important;
    margin: 10px 0 0 0!important;
    left:0!important;
}

.standalone-form .line input[type="submit"]:hover{
    background-color: #97CEC2!important;
    border-bottom: 3px solid #81B5AA!important;
}

.standalone-form .line input[type="email"].error,
.standalone-form .line input[type="password"].error,
.standalone-form .line input[type="text"].error,
.standalone-form .line input[type="date"].error{
    background-color: #FFD5D5!important;
}

.standalone-form .message{
    width: 100%;
    padding: 5px;
}

.standalone-form .error{
    background-color: #f0786f;
    border-bottom: 1px solid #f0625b;
    clear: both;
    display: block;
    color: white;
}

#error-message, #flash-message{
    padding-bottom: 20px;
}

.alert{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    max-width: 900px;
    margin: auto!important;
    line-height: 22px;
}

/* ################ HOME */

.main-home{
    width: 100%!important;
}

.main-home .home-start{
    background-color: white;
    margin: auto;
    padding: 30px 30px 0 30px;
    border-bottom: 4px solid #8bbdb2;
}

.main-home .home-start .home-progress{
    width: 600px;
    margin: auto;
}

.main-home .home-progress #progress{
    width: 100%;
    border: 1px solid #797f7b;
    height: 35px;
    background-color: #d1fbef;
}

.main-home .home-progress #progress-bar{
    min-width: 45px;
    background-color: #8bbdb2;
    height: 33px;
    color: white;
    line-height: 33px;
    padding: 0 10px;
}

.main-home .home-continue{
    margin-bottom: 25px;
}

.main-home .home-continue a{
    width: 175px;
    font-size: 22px;
    color: white;
    background-color: #f06060;
    border-bottom: 3px solid #C24C4C;
    text-align: center;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
    margin: 25px auto 0 auto;
}

.main-home .home-continue a:hover{
    background-color: #D44A4A;
    border-bottom: 3px solid #B13D3D;
    transition-duration:0.15s;
}

.main-home .home-tabs{
    width: 900px;
    margin: auto;
    display: flex;
}

.main-home .home-tabs a.tab{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    background-color: #465674;
    color: white;
    text-decoration: none;
    text-align: center;
    border-top: 2px solid #8bbdb2;
    position: relative;
    top: 4px;
}

.main-home .home-tabs a.tab:hover{
    border-bottom: 0;
    transition-duration:0.15s;
    background-color: #5c6f93;
}

.main-home .home-tabs a.activated{
    background-color: #697fb0;
}

.main-home .home-tabs .tab-20{
    width: 20%;
}

.main-home .home-tabs .tab-25{
    width: 35%;
}

.main-home .home-content{
    width: 900px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-top: 4px solid #8bbdb2;
}

.main-home .home-content .enigma{
    width: 100%;
    border-top: 1px solid white;
    background-color: #697fb0;
}

.main-home .home-content .enigma .logo{
    width: 6%;
    height: 52px;
    float: left;
}

.main-home .home-content .enigma .logo img{
    max-width: 100%;
}

.main-home .home-content .enigma .description{
    width: 94%;
    line-height: 52px;
    font-size: 16px;
    color: white;
    height: 52px;
    float: right;
    padding-left: 10px;
}

.main-home .home-content .enigma .go{
    float: right;
}

.main-home .home-content .enigma .go a span{
    line-height: 52px;
}

.main-home .home-content .enigma .go a{
    background-color: #465674;
    display: inline-block;
    height: 52px;
    color: white;
    padding: 0 15px;
    text-decoration: none;
}

.main-home .home-content .enigma .go a:hover{
    transition-duration:0.15s;
    background-color: #C24C4C;
}

.main-home .home-content h2.empty{
    font-size: 18px;
    text-align: center;
}

.main-home .home-content .success{
    width: 20%;
    float: left;
}

.main-home .home-content .success .logo{
    padding: 10px;
}

.main-home .home-content .success .logo img{
    width: 100%;
    border-radius: 100px;
}

.main-home .home-content .success .description{
    text-align: center;
}

div#main a.button{
    display:inline-block;
    line-height:35px;
    margin:0px 10px 10px 0;
    background-color:#f06060;
    cursor:pointer;
    color:white;
    font-size:17px;
    color:white !important;
    padding:2px 15px;
    -webkit-transition-duration:0.15s;
    -moz-transition-duration:0.15s;
    -ms-transition-duration:0.15s;
    -o-transition-duration:0.15s;
    transition-duration:0.15s;
    box-shadow:rgba(0, 0, 0, 0.0980392) 0px -1px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 2px 0px;text-decoration:none;
}

div#main a.button:hover{
    background-color:#bd3426;
}

a.left{
    float:left;
    margin:0px 10px 10px 0 !important;
}

a.right{
    float:right;
    margin:0px 0 10px 10px !important;
}

/* #################### ENIGME LISTE */

.enigme-list{
    width: 240px;
    height: 275px;
    float: left;
    margin: 0 58px 50px 0;
}

.enigme-list a{
    text-decoration: none;
}

.enigme-list:nth-child(3n){
    margin-right: 0;
}

.enigme-list .content {
    width: 100%;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.enigme-list .content .title{
    font-size: 23px;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.enigme-list .content .picture img{
    width: 100%;
}

.stack { position: relative; z-index: 10; }
.stack:before, .stack:after {
    content: "";
    border-radius: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}
.stack:before { top: 4px; z-index: -10; }
.stack:after { top: 8px; z-index: -20; }
.stack.twisted:before {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}
.stack.twisted:after {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.enigme-list:nth-child(4n+1) .content,
.stack:nth-child(4n+1):before,
.stack:nth-child(4n+1):after{
    border: 10px solid #8bbdb2;
    background-color: #8bbdb2;
}

.enigme-list:nth-child(4n+2) .content,
.stack:nth-child(4n+2):before,
.stack:nth-child(4n+2):after{
    border: 10px solid #f06060;
    background-color: #f06060;
}

.enigme-list:nth-child(4n+3) .content,
.stack:nth-child(4n+3):before,
.stack:nth-child(4n+3):after{
    border: 10px solid #f3b562;
    background-color: #f3b562;
}

.enigme-list:nth-child(4n+4) .content,
.stack:nth-child(4n+4):before,
.stack:nth-child(4n+4):after{
    border: 10px solid #baddf0;
    background-color: #baddf0;
}

.alert{
    margin-bottom: 10px!important;
}

/* ################ SUSCRIBE ############## */

.suscribe-list{
    width: 760px;
    margin:auto;
}

.suscribe {
    width: 240px;
    float: left;
    margin: 0 20px 0px 0;
    border: 1px solid #797f7b;
}

.suscribe:last-child{
    margin: 0!important;
}

.suscribe .title{
    background-color: #8bbdb2;
    padding: 10px;
    height: 45px;
    line-height: 25px;
    font-size: 20px;
    color: white;
    text-align: center;
    border-bottom: 1px solid #65A395;
}

.suscribe .interest{
    padding: 5px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #cccccc;
}

.suscribe .price{
    background-color: #8bbdb2;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #65A395;
}

.suscribe .price em{
    font-size: 0.5em;
}

.suscribe .buy{
    background-color: #465674;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
}

.suscribe .buy:hover{
    background-color: #5c6f93;
    transition-duration: 0.15s;
}

.hidden{
    display: none;
}

.suscribe-buy{
    margin-top: 30px;
    background-color: #8bbdb2;
    border: 1px solid #797f7b;
    color: white;
}

.suscribe-buy .price-total{
    background-color: #465674;
    padding: 10px;
    font-size: 25px;
    line-height: 25px;
    color: white;
}

.suscribe-buy form{
    padding: 10px;
}

.suscribe-buy form input[type="text"].big{
    width: 100%!important;
}

.suscribe-buy form input[type="text"].small{
    width: 49.6%!important;
}

.suscribe-buy form input[type="submit"]{
    background-color: #465674!important;
}

.suscribe-buy form input[type="submit"]:hover{
    background-color: #5c6f93!important;
}

.alert .close {
    float:right;
    cursor:pointer;
    position:relative;
    left:22px;
    top: 4px !important;;
    font-weight:bold;
}

.enigme h4{
    color: #8bbdb2;
    font-size: 25px;
    margin-bottom: 10px;
}

.enigme ul{
    margin-left: 15px;
    list-style-type: disc;
}

.enigme ol{
    margin-left: 15px;
    list-style-type: decimal;
}